<!DOCTYPE html>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Profile</title>
</head>
<body>
<th:block layout:fragment="content">

    <div>Подключенные платформы</div>
    <div>
        ---------------------

    </div>
    <form th:action="@{/profile}" th:object="${form}" th:method="post">
        <div class="col-md-3 col-lg-3">
            <th:block th:if="${vkConnected}">
                <span>Vk already connected</span>
                <!---<img th:src="@{${vkPhotoUrl}}"/> -->
            </th:block>
            <button class="form-control btn btn-success" name="connectVk" type="submit" style="margin-top: 15px;"
                    th:unless="${vkConnected}">Подключить Vkontakte
            </button>
            <br/>
            <th:block th:if="${googleConnected}">
                <span>Google already connected</span>
            </th:block>
            <button class="form-control btn btn-success" name="connectGoogle" type="submit" style="margin-top: 15px;"
                    th:unless="${googleConnected}">Подключить Google
            </button>
        </div>
    </form>

    <th:block th:if="${vkConnected and googleConnected}">

        <form th:action="@{/profile/select}" th:method="post">
            <div class="col-md-3 col-lg-3">

                <button class="form-control btn btn-success" name="selectContacts" type="submit"
                        style="margin-top: 15px;">
                    Выбрать контакты
                </button>

            </div>
        </form>
        <form th:action="@{/profile/save}" th:method="post">
            <select title="Vk friends" name="vkId" th:class="selectpicker">
                <option th:each="info : ${friendsInfoVk}" th:value="${info.userId}"
                        th:text="${info.firstName} +${' '} + ${info.lastName}">
                    <!--th:attr="${'data-content=\'<img src='+info.smallPhotoUrl+'>\''}">-->
                    Name
                </option>
            </select>

            <select title="Google friends" name="googleId" th:class="selectpicker">
                <option th:each="info : ${friendsInfoGoogles}" th:value="${info.userId}"
                        th:text="${info.fullName}" data-thumbnail="$(info.photoUrl)">Name
                </option>
            </select>
            <div class="col-md-3 col-lg-3">
                <button class="form-control btn btn-success" name="saveMatch" type="submit" style="margin-top: 15px;">
                    Сопоставить
                </button>

            </div>

        </form>

        <div class="col-md-6">Vk name</div>
        <div class="col-md-6">Google name</div>

        <div class="row" th:each="match : ${matchedContactses}">

            <div class="col-md-6" th:text="${match.vkName}">Name vk</div>
            <div class="col-md-6" th:text="${match.googleName}">Name Google</div>

        </div>


    </th:block>
</th:block>

</body>
</html>